defaults
  mode http
  timeout connect 60s
  timeout client 60s
  timeout server 60s 
  timeout http-request 60s

frontend http
  bind :8080

  # Add token auth
  http-request auth unless { req.hdr(authorization) -i "Bearer ${AUTH_TOKEN}" }
  
  # Pass or set "X-Forwarded-"-headers
  acl h_xfh_exists req.hdr(X-Forwarded-Host) -m found
  http-request set-header X-Forwarded-Host %[req.hdr(host)] unless h_xfh_exists
  acl h_xfport_exists req.hdr(X-Forwarded-Port) -m found
  http-request set-header X-Forwarded-Port %[dst_port] unless h_xfport_exists
  acl h_xfproto_exists req.hdr(X-Forwarded-Proto) -m found
  http-request set-header X-Forwarded-Proto http if !{ ssl_fc } !h_xfproto_exists
  http-request set-header X-Forwarded-Proto https if { ssl_fc } !h_xfproto_exists

  default_backend mybackend

backend mybackend
  server server1 "${PROXY_HOST}:${PROXY_PORT}"
